
.main-nav .nav-link:hover {
	background-color: #acacac;
	color: white !important;
}

img.center {
    display: block;
    margin: 0 auto;
}

.car-img > img {
	max-width: 100%;
  	height: auto;
}

.icon {
	margin-right: 5px;
}

.icon-tile {
	margin-top: 10px; 
	margin-bottom: 10px; 
	margin-left: 5px; 
	margin-right: 5px; 
	height: 120px; 
	text-align: center; 
	color: white;
}

.icon-tile > i {
	font-size: 40px; 
	margin-top: 20px; 
	margin-bottom: 5px;
}

.latest-col {
	border: 1px solid grey;
	margin: 8px;
}

.latest-col > img {
	height: 250px;
	display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.brand {
	text-align: center;
}

.brand > img {
	width: 100%;
}

.top-sell {
	height: 200px;
}

.top-sell > img {
	width: 80%;
}

.commerce {
	margin-left: -5px; 
	margin-top: 15px;
}

.col-foot {
	padding: 0.5rem;
}

.col-foot .row {
	padding: 0 1.5rem;
}